.anatomyPlayer
.fillInFactoid(title='Blood supply & Innervation')
  p.
    For innervation, see the table below.
  p.
    The gleteal muscles are primarily supplied by the <u>superior gluteal</u> artery.
    The gluteus maximus is additionally supplied by the <u>inferior gluteal</u> artery.
    Along with the primary lateral circumflex femoral artery, the superior gluteal
    artery also supplies the <u>tensor fascia latae</u>. The obturator internus,
    gemelli, and quadratus femoris are supplied by the <u>inferior gluteal</u> artery.
    Along with the lateral sacral and <u>superior gluteal</u> arteries, the <u>inferior gluteal</u>
    also supplies the piriformis. By contrast to these other muscles, the iliopsoas
    is supplied by the <u>medial femoral circumflex</u> and <u>iliolumbar</u> arteries.
table.tableFlashcards
  thead
    tr
      th Muscle
      th Origin
      th Insertion
      th Innervation
      th Action
  tbody
    tr
      td Iliopsoas - psoas minor
      td T12-L1 vertebrae and intervertebral disk
      td Iliopectineal arch
      td Direct branches from lumbar plexus (L2-4)
      td Assists in upward rotation of pelvis
    tr
      td Iliopsoas - psoas major
      td Superficial: T12-L4 and associated intervertebral disks (lateral surfaces); Deep: L1-L5 vertebrae (transverse process)
      td Femur - lesser trochanter
      td Direct branches from lumbar plexus (L2-4)
      td Hip joint: flexion and external rotation
    tr
      td Iliopsoas - iliacus
      td Iliac fossa
      td Femur - lesser trochanter
      td Femoral nerve
      td Hip joint: flexion and external rotation
    tr
      td Gluteus maximus
      td Sacrum, ilium, thoracolumbar fascia, sacrotuberous ligament
      td Upper fibers: iliotibial tract; Lower fibers: gluteal tuberosity
      td Inferior gluteal nerve (L5-S2)
      td Extends and externally rotates hip; Upper fibers: abduction; Lower fibers: adduction
    tr
      td Gluteus medius
      td Ilium
      td Greater trochanter of femur
      td Superior gluteal nerve (L4-S1)
      td Abducts hip, stabilizes pelvis; Anterior part: flexion and internal rotation; Posterior: extension and external rotation
    tr
      td Gluteus minimus
      td Ilium
      td Greater trochanter of femur
      td Superior gluteal nerve (L4-S1)
      td Same as gluteus medius
    tr
      td Tensor fasciae latae
      td Anterior superior iliac spine
      td Iliotibial tract
      td Superior gluteal nerve
      td Tenses fascia lata; Hip joint: abduction, flexion and internal rotation
    tr
      td Piriformis
      td Pelvic surface of sacrum
      td Femur - Apex of greater trochanter
      td Direct branches from the sacral plexus (S1-S2)
      td External rotation, abduction, and extension of hip; stabilizes hip
    tr
      td Obturator internus
      td Inner surface of obturator membrane
      td Medial surface of greater trochanter
      td Direct branches from sacral plexus (L5,S1)
      td External rotation, adduction, and extension of hip joint
    tr
      td Gemelli
      td Gemellus superior: ischial spine; Gemellus inferior: ischial tuberosity
      td Jointly with obturator internus tendon (medial surface of greater trochanter)
      td Direct branches from sacral plexus (L5,S1)
      td Same as obturator internus
    tr
      td Quadratus femoris
      td Lateral border of ischial tuberosity
      td Intertrochanteric crest of femur
      td Direct branches from sacral plexus (L5,S1)
      td External rotation and adduction of the hip

