
h2#Thorax 1. Thorax
.mll.mbm
  h3
    a(href='/anatomy/Thorax/Chest') Chest
h2 2. Abdomen
.mll.mbm
  h3
    a(href='/anatomy/Thorax/Chest') Abdominal Wall
h2#Pelvis 3. Pelvis
h2#Upper_Limb 4. Upper Limb
h2#Lower_Limb 5. Lower Limb
h2#Back 6. Back
h2#Arms 7. Arms
h2#Cranial_Nerves 8. Cranial Nerves
