
h2#Thorax 1. Thorax
.chapterContents
  h3
    a(href='/anatomy/Thorax/Chest') Chest

h2#Abdomen 2. Abdomen
.chapterContents
  h3
    a(href='/anatomy/Thorax/Chest') Abdominal Wall
h2#Pelvis 3. Pelvis
.chapterContents
  h3 Overview
  .sectionContents
    h4
      a(href='/anatomy/Pelvis/Pelvis') Pelvis
h2#Lower_Limbs 4. Lower Limbs
.chapterContents
  h3 Overview
  .sectionContents
    h4
      a(href='/anatomy/Lower_Limbs/Hip') Hip
    h4
      a(href='/anatomy/Lower_Limbs/Thigh_Medial_Superficial') Thigh - Medial Superficial Layer
    h4
      a(href='/anatomy/Lower_Limbs/Thigh_Medial_Deep') Thigh - Medial Deep Layer
    h4
      a(href='/anatomy/Lower_Limbs/Thigh_Anterior') Thigh - Anterior Group
    h4
      a(href='/anatomy/Lower_Limbs/Thigh_Posterior') Thigh - Posterior Group
    h4
      a(href='/anatomy/Lower_Limbs/Leg_Lateral') Leg - Lateral Group
    h4
      a(href='/anatomy/Lower_Limbs/Leg_Anterior') Leg - Anterior Group
    h4
      a(href='/anatomy/Lower_Limbs/Leg_Posterior_Superficial') Leg - Posterior Superficial Group
    h4
      a(href='/anatomy/Lower_Limbs/Leg_Posterior_Deep') Leg - Posterior Deep Group
    h4
      a(href='/anatomy/Lower_Limbs/Foot_Intrinsic') Foot - Intrinsic
    h4
      a(href='/anatomy/Lower_Limbs/Foot_Intrinsic_Superficial') Foot - Superficial Intrinsic
    h4
      a(href='/anatomy/Lower_Limbs/Foot_Intrinsic_Deep') Foot - Deep Intrinsic
h2#Upper_Limbs 5. Upper Limbs
.chapterContents
  h3 Overview
  .sectionContents
    h4
      a(href='/anatomy/Upper_Limbs/Shoulder') Shoulder
    h4
      a(href='/anatomy/Upper_Limbs/Upper_Arm_Anterior') Upper Arm - Anterior Group
    h4
      a(href='/anatomy/Upper_Limbs/Upper_Arm_Posterior') Upper Arm - Posterior Group
    h4
      a(href='/anatomy/Upper_Limbs/Forearm_Anterior_Superficial') Forearm - Anterior Superficial Group
    h4
      a(href='/anatomy/Upper_Limbs/Forearm_Anterior_Intermediate') Forearm - Anterior Intermediate Group
    h4
      a(href='/anatomy/Upper_Limbs/Forearm_Anterior_Deep') Forearm - Anterior Deep Group
    h4
      a(href='/anatomy/Upper_Limbs/Forearm_Posterior_Radialis') Forearm - Posterior Radialis Muscles
    h4
      a(href='/anatomy/Upper_Limbs/Forearm_Posterior_Superficial') Forearm - Posterior Superficial Group
    h4
      a(href='/anatomy/Upper_Limbs/Forearm_Posterior_Deep') Forearm - Posterior Deep Group
    h4
      a(href='/anatomy/Upper_Limbs/Hand_Thenar') Hand - Thenar Group
    h4
      a(href='/anatomy/Upper_Limbs/Hand_Hypothenar') Hand - Hypothenar Group
    h4
      a(href='/anatomy/Upper_Limbs/Hand_Metacarpal') Hand - Metacarpals
h2#Back 6. Back

h2#Back 7. Head & Neck

h2#Cranial_Nerves 8. Cranial Nerves
.chapterContents
  h3 Overview
  .sectionContents
    h4
      a(href='/anatomy/Cranial_Nerves/II') II - Optic Nerve
    h4
      a(href='/anatomy/Cranial_Nerves/III') III - Oculomotor Nerve
    h4
      a(href='/anatomy/Cranial_Nerves/IV') IV - Trochlear Nerve
    h4
      a(href='/anatomy/Cranial_Nerves/V1') V1 - Trigeminal - Ophthalmic branch
    h4
      a(href='/anatomy/Cranial_Nerves/V2') V1 - Trigeminal - Maxillary branch
    h4
      a(href='/anatomy/Cranial_Nerves/V3') V1 - Trigeminal - Mandibular branch
    h4
      a(href='/anatomy/Cranial_Nerves/VI') VI - Abducens

