
h2#Thorax 1. Thorax
.chapterContents
  h3 Overview
  .sectionContents
    h4
      a(href='/anatomy/Thorax/Chest') Chest
    h4
      a(href='/anatomy/Thorax/Thoracic_Wall') Thoracic Wall
    h4
      a(href='/anatomy/Thorax/Thoracic_Wall-Diaphragm') Thoracic Wall - Diaphragm
    h4
      a(href='/anatomy/Thorax/Thoracic_Cavity-Arterial') Thoracic Cavity - Arterial Branches
    h4
      a(href='/anatomy/Thorax/Thoracic_Cavity-Venous') Thoracic Cavity - Venous Branches
    h4
      a(href='/anatomy/Thorax/Heart+Lungs') Heart & Lungs
    h4
      a(href='/anatomy/Thorax/Heart-Structure') Heart - Structure
    h4
      a(href='/anatomy/Thorax/Heart-Blood_Supply') Heart - Blood Supply

h2#Abdomen 2. Abdomen
.chapterContents
  h3 Overview
  .sectionContents
    h4
      a(href='/anatomy/Abdomen/Abdominal_Wall') Abdominal Wall
    h4
      a(href='/anatomy/Abdomen/Inguinal_Canal') Inguinal Canal
    h4
      a(href='/anatomy/Abdomen/Vasculature-Celiac_Trunk') Vasculature - Celiac Trunk
    h4
      a(href='/anatomy/Abdomen/Vasculature-Other_Vessels') Vasculature - Other Vessels
h2#Pelvis 3. Pelvis
.chapterContents
  h3 Overview
  .sectionContents
    h4
      a(href='/anatomy/Pelvis/Bony_Pelvis') Bony Pelvis
    h4
      a(href='/anatomy/Pelvis/Pelvic_Floor') Pelvic Floor
    h4
      a(href='/anatomy/Pelvis/Internal_Organs') Internal Organs
h2#Lower_Limbs 4. Lower Limbs
.chapterContents
  h3 Overview
  .sectionContents
    h4
      a(href='/anatomy/Lower_Limbs/Hip') Hip
    h4
      a(href='/anatomy/Lower_Limbs/Thigh-Medial_Superficial') Thigh - Medial Superficial Layer
    h4
      a(href='/anatomy/Lower_Limbs/Thigh-Medial_Deep') Thigh - Medial Deep Layer
    h4
      a(href='/anatomy/Lower_Limbs/Thigh-Anterior') Thigh - Anterior Group
    h4
      a(href='/anatomy/Lower_Limbs/Thigh-Posterior') Thigh - Posterior Group
    h4
      a(href='/anatomy/Lower_Limbs/Leg-Lateral') Leg - Lateral Group
    h4
      a(href='/anatomy/Lower_Limbs/Leg-Anterior') Leg - Anterior Group
    h4
      a(href='/anatomy/Lower_Limbs/Leg-Posterior_Superficial') Leg - Posterior Superficial Group
    h4
      a(href='/anatomy/Lower_Limbs/Leg-Posterior_Deep') Leg - Posterior Deep Group
    h4
      a(href='/anatomy/Lower_Limbs/Foot-Dorsum-Intrinsic') Foot - Dorsum - Intrinsic
    h4
      a(href='/anatomy/Lower_Limbs/Foot-Sole-Superficial_Intrinsic') Foot - Sole - Superficial Intrinsic
    h4
      a(href='/anatomy/Lower_Limbs/Foot-Sole-Deep_Intrinsic') Foot - Sole - Deep Intrinsic
h2#Upper_Limbs 5. Upper Limbs
.chapterContents
  h3 Overview
  .sectionContents
    h4
      a(href='/anatomy/Upper_Limbs/Brachial_Plexus') Brachial Plexus
    h4
      a(href='/anatomy/Upper_Limbs/Shoulder-Bones') Shoulder - Bones
    h4
      a(href='/anatomy/Upper_Limbs/Shoulder-Muscles') Shoulder - Muscles
    h4
      a(href='/anatomy/Upper_Limbs/Upper_Arm-Anterior') Upper Arm - Anterior Group
    h4
      a(href='/anatomy/Upper_Limbs/Upper_Arm-Posterior') Upper Arm - Posterior Group
    h4
      a(href='/anatomy/Upper_Limbs/Forearm-Anterior_Superficial') Forearm - Anterior Superficial Group
    h4
      a(href='/anatomy/Upper_Limbs/Forearm-Anterior_Intermediate') Forearm - Anterior Intermediate Group
    h4
      a(href='/anatomy/Upper_Limbs/Forearm-Anterior_Deep') Forearm - Anterior Deep Group
    h4
      a(href='/anatomy/Upper_Limbs/Forearm-Posterior_Radialis') Forearm - Posterior Radialis Muscles
    h4
      a(href='/anatomy/Upper_Limbs/Forearm-Posterior_Superficial') Forearm - Posterior Superficial Group
    h4
      a(href='/anatomy/Upper_Limbs/Forearm-Posterior_Deep') Forearm - Posterior Deep Group
    h4
      a(href='/anatomy/Upper_Limbs/Hand-Thenar') Hand - Thenar Group
    h4
      a(href='/anatomy/Upper_Limbs/Hand-Hypothenar') Hand - Hypothenar Group
    h4
      a(href='/anatomy/Upper_Limbs/Hand-Metacarpal') Hand - Metacarpals
h2#Back 6. Back
.chapterContents
  h3 Overview
  .sectionContents
    h4
      a(href='/anatomy/Back/Craniovertebral_Muscles') Craniovertebral Muscles
    h4
      a(href='/anatomy/Back/Paravertebral_Muscles') Paravertebral Muscles
    h4
      a(href='/anatomy/Back/Superficial_Muscles') Superficial Intrinsic Muscles
    h4
      a(href='/anatomy/Back/Intermediate_Muscles') Intermediate Intrinsic Muscles
    h4
      a(href='/anatomy/Back/Transversospinalis_Muscles') Transversospinalis Muscles

h2(id='Head+Neck') 7. Head & Neck
.chapterContents
  h3 Overview
  .sectionContents
    h4
      a(href='/anatomy/Head+Neck/Neck-Superficial') Neck - Superficial
    h4
      a(href='/anatomy/Head+Neck/Neck-Suprahyoid') Neck - Suprahyoid
    h4
      a(href='/anatomy/Head+Neck/Neck-Infrahyoid') Neck - Infrahyoid
    h4
      a(href='/anatomy/Head+Neck/Skull-Bones') Bones of the Skull
    h4
      a(href='/anatomy/Head+Neck/Facial_Muscles') Muscles of Facial Expression
    h4
      a(href='/anatomy/Head+Neck/Mastication') Muscles of Mastication
    h4
      a(href='/anatomy/Head+Neck/Cranial_Arteries') Cranial Arteries

h2#Cranial_Nerves 8. Cranial Nerves
.chapterContents
  .fwb Please Note: The Cranial Nerves section is still under construction. We plan to have it completed within the next 2 weeks.
  h3 Overview
  .sectionContents
    h4
      a(href='/anatomy/Cranial_Nerves/II') II - Optic Nerve
    h4
      a(href='/anatomy/Cranial_Nerves/III') III - Oculomotor Nerve
    h4
      a(href='/anatomy/Cranial_Nerves/IV') IV - Trochlear Nerve
    h4
      a(href='/anatomy/Cranial_Nerves/V1') V1 - Trigeminal - Ophthalmic branch
    h4
      div(href='/anatomy/Cranial_Nerves/V2') V1 - Trigeminal - Maxillary branch
    h4
      div(href='/anatomy/Cranial_Nerves/V3') V1 - Trigeminal - Mandibular branch
    h4
      a(href='/anatomy/Cranial_Nerves/VI') VI - Abducens
    h4
      div(href='/anatomy/Cranial_Nerves/V3') VII - Facial

