.anatomyPlayer
  div Extensor digitorum brevis not shown
table.tableFlashcards
  thead
    tr
      th Muscle
      th Origin
      th Insertion
      th Innervation
      th Action
  tbody
    tr
      td Extensor digitorum brevis
      td Calcaneus (dorsal surface)
      td 2nd to 4th toes
      td Deep fibular nerve (L5, S1)
      td Extension of the MTP and PIP joints of 2nd to 4th toes
    tr
      td Extensor hallucis brevis
      td Calcaneus (dorsal surface)
      td 1st toe (proximal phalanx)
      td Deep fibular nerve (L5, S1)
      td Extension of MTP joints of the 1st toe

