.anatomyPlayer
table.tableFlashcards
  thead
    tr
      th Muscle
      th Origin
      th Insertion
      th Innervation
      th Action
  tbody
    tr
      td Triceps brachii - Long head
      td Scapula - infraglenoid tubercle
      td Olecranon of ulna
      td Radial nerve (C6-8)
      td Elbow joint: extension; Shoulder joint, long head: extension and adduction
    tr
      td Triceps brachii - Medial head
      td Posterior humerus, distal to radial groove; medial intermuscular septum
      td Olecranon of ulna
      td Radial nerve (C6-8)
      td Elbow joint: extension; Shoulder joint, long head: extension and adduction
    tr
      td Triceps brachii - Lateral head
      td Posterior humerus, proximal to radial groove; lateral intermuscular septum
      td Olecranon of ulna
      td Radial nerve (C6-8)
      td Elbow joint: extension; Shoulder joint, long head: extension and adduction
    tr
      td Anconeus
      td Lateral epicondyle of humerus (variance; posterior joint capsule)
      td Olecranon of ulna (radial surface)
      td Radial nerve (C6-8)
      td Extends the elbow and tightens its joint

