.anatomyPlayer
.fillInFactoid(title='Blood supply & Innervation')
  p.
    All muscles in the posterior compartment of the arm are innervated by the
    <u>radial</u> nerve.
  p.
    The triceps are supplied by the <u>deep brachial</u> artery which is a branch
    of the <u>brachial</u> artery. The anconeus is supplied by the <u>deep brachial</u>
    artery and the <u>recurrent interosseous</u> artery which is a branch of the
    <u>posterior interosseous</u> artery off the <u>ulnar</u> artery.
table.tableFlashcards
  thead
    tr
      th Muscle
      th Origin
      th Insertion
      th Innervation
      th Action
  tbody
    tr
      td Triceps brachii - Long head
      td Scapula - infraglenoid tubercle
      td Olecranon of ulna
      td Radial nerve (C6-8)
      td Elbow joint: extension; Shoulder joint, long head: extension and adduction
    tr
      td Triceps brachii - Medial head
      td Posterior humerus, distal to radial groove; medial intermuscular septum
      td Olecranon of ulna
      td Radial nerve (C6-8)
      td Elbow joint: extension; Shoulder joint, long head: extension and adduction
    tr
      td Triceps brachii - Lateral head
      td Posterior humerus, proximal to radial groove; lateral intermuscular septum
      td Olecranon of ulna
      td Radial nerve (C6-8)
      td Elbow joint: extension; Shoulder joint, long head: extension and adduction
    tr
      td Anconeus
      td Lateral epicondyle of humerus (variance; posterior joint capsule)
      td Olecranon of ulna (radial surface)
      td Radial nerve (C6-8)
      td Extends the elbow and tightens its joint

