.anatomyPlayer
table.tableFlashcards
  thead
    tr
      th Muscle
      th Origin
      th Insertion
      th Innervation
      th Action
  tbody
    tr
      td Brachioradialis
      td Distal humerus (distal surface), lateral intermuscular septum
      td Styloid process of the radius
      td Radial nerve (C5,6)
      td Elbow: flexion; Forearm: semipronation
    tr
      td Extensor carpi radialis longus
      td Lateral supracondylar ridge of distal humerus, lateral intermuscular septum
      td Base of 2nd metacarpal
      td Radial nerve (C5,6)
      td Elbow: weak flexion; Wrist: extension and abduction
    tr
      td Extensor carpi radialis brevis
      td Lateral epicondyle of humerus
      td Base of 3rd metacarpal
      td Radial nerve (C5,6)
      td Elbow: weak flexion; Wrist: extension and abduction

