.anatomyPlayer
.fillInFactoid(title='Blood supply & Innervation')
  p.
    All muscles in the posterior forearm are innervated by the <u>radial</u> nerve. Period.
  p.
    Except for the <u>supinator</u> which is supplied directly by the
    <u>radial</u> artery, the deep muscles of the posterior forearm are supplied by the
    <u>posterior interosseous artery</u> which is a branch of the <u>ulnar</u> artery.
table.tableFlashcards
  thead
    tr
      th Muscle
      th Origin
      th Insertion
      th Innervation
      th Action
  tbody
    tr
      td Supinator
      td Olecranon, lateral epicondyle of humerus, radial collateral ligament, annular ligament of radius
      td Radius (between radial tuberosity and insertion of pronator teres)
      td Radial nerve (C6,7)
      td Radioulnar joints: supination
    tr
      td Abductor pollicis longus
      td Radius and ulna (dorsal surfaces, interosseous membrane)
      td Base of 1st metacarpal
      td Radial nerve (C7,8)
      td Radiocarpal joint: abduction of the hand; Carpometacarpal joint of thumb: abduction
    tr
      td Extensor pollicis brevis
      td Radius (posterior surface) nd interosseous membrane
      td Base of proximal phalanx of thumb
      td Radial nerve (C7,8)
      td Radiocarpal joint: abduction (radial deviation) of hand; Carpometacarpal and MCP of thumb: extension
    tr
      td Extensor pollicis longus
      td Ulna (posterior surface) and interosseous membrane
      td Base of distal phalanx of thumb
      td Radial nerve (C7,8)
      td Wrist: extension and abduction (radial deviation) of hand; Carpometacarpal of thumb: adduction MCP and IP of thumb: extension
    tr
      td Extensor indicis
      td Ulna (posterior surface) and interosseous membrane
      td Posterior digital extension of 2nd digit
      td Radial nerve (C7,8)
      td Wrist: extension; MCP, PIP, and DIP of 2nd digit: extension

