div.
  This is a test This is a test This is a test This is a test This is a test
  This is a test This is a test This is a test This is a test This is a test
  This is a test This is a test This is a test This is a test This is a test
  This is a test This is a test This is a test This is a test This is a test
  This is a test This is a test This is a test This is a test This is a test
.anatomyPlayer
  div This is a test
div This is another test
.youtubePlayer(src='//www.youtube.com/embed/gTas7ijp0YE')
  div This is a test

