.anatomyPlayer
table.tableFlashcards
  thead
    tr
      th Muscle
      th Origin
      th Insertion
      th Innervation
      th Action
  tbody
    tr
      td Tibialis anterior
      td Tibia (upper two thirds); interosseous membrane
      td Medial cuneiform, first metatarsal
      td Deep fibular (L4,5)
      td Talocrural joint: dorsiflexion; Subtalar joint: inversion (supination)
    tr
      td Extensor hallucis longus
      td Fibula; interosseous membrane
      td 1st toe
      td Deep fibular (L5)
      td Talocrural joint: dorsiflexion; Subtalar joint: eversion and inversion depending on initial foot position; Extends MTP and IP of big toe
    tr
      td Extensor digitorum longus
      td Fibula, tibia, interosseous membrane
      td 2nd to 5th toes
      td Deep fibular (L5,S1)
      td Talocrural joint: dorsiflexion; subtalar joint: eversion; extends MTP and IP joints of 2nd and 5th toes
    tr
      td Fibularis tertius
      td Distal fibula
      td 5th metatarsal
      td Deep fibular (L5,S1)
      td Talocrural joint: dorsiflexion; subtalar joint: eversion

