.anatomyPlayer
table.tableFlashcards
  thead
    tr
      th Muscle
      th Origin
      th Insertion
      th Innervation
      th Action
  tbody
    tr
      td Deltoid - Anterior
      td Lateral one third of clavicle
      td Humerus (deltoid tuberosity)
      td Axillary nerve (C5,6)
      td Flexion, internal rotation, adduction
    tr
      td Deltoid - Lateral
      td Acromion
      td Humerus (deltoid tuberosity)
      td Axillary nerve (C5,6)
      td Abduction
    tr
      td Deltoid - Posterior
      td Scapular spine
      td Humerus (deltoid tuberosity)
      td Axillary nerve (C5,6)
      td Extension, external rotation, adduction
    tr
      td Supraspinatus
      td Scapula - Supraspinous fossa
      td Humerus - Greater tuberosity
      td Suprascapular nerve (C4-6)
      td Abduction
    tr
      td Infraspinatus
      td Scapula - Infraspinous fossa
      td Humerus - Greater tuberosity
      td Suprascapular nerve (C4-6)
      td External rotation
    tr
      td Teres minor
      td Scapula - Lateral border
      td Humerus - Greater tuberosity
      td Axillary (C5,6)
      td External rotation, weak adduction
    tr
      td Subscapularis
      td Scapula - Subscapular fossa
      td Humerus - Lesser tuberosity
      td Subscapular (C5,6)
      td Internal rotation

