.anatomyPlayer
table.tableFlashcards
  thead
    tr
      th Muscle
      th Origin
      th Insertion
      th Innervation
      th Action
  tbody
    tr
      td Pectoralis major - Clavicular part
      td Clavicle (medial half)
      td Humerus - Crest of greater tuberosity
      td Medial and lateral pectoral nerve (C5-T1)
      td Adduction, internal rotation (flexion; assists in respiration when shoulder is fixed)
    tr
      td Pectoralis major - Sternocostal part
      td Sternum and costal cartilages 1-6
      td Humerus - Crest of greater tuberosity
      td Medial and lateral pectoral nerve (C5-T1)
      td Adduction, internal rotation (flexion; assists in respiration when shoulder is fixed)
    tr
      td Pectoralis major - Abdominal part
      td Rectus sheath
      td Humerus - Crest of greater tuberosity
      td Medial and lateral pectoral nerve (C5-T1)
      td Adduction, internal rotation
    tr
      td Coracobrachialis
      td Scapula - coracoid process
      td Humerus - Crest of lesser tuberosity
      td Musculocutaneous nerve (C6,7)
      td Respiration; Compressor of abdominal viscera
    tr
      td Subclavius
      td 1st rib
      td Clavicle - interior surface
      td Nerve to subclavius (C5,6)
      td Steadies clavicle in sternoclavicular joint
    tr
      td Pectoralis minor
      td 3rd to 5th ribs
      td Scapula - coracoid process
      td Medial and lateral pectoral nerve (C6-T1)
      td Draws scapula downward causing inferior angle to move posteromedially; rotates glenoid inferiorly, assists in respiration
    tr
      td Serratus anterior
      td 1st to 9th ribs
      td Scapula - medial border
      td Long thoracic nerve (C5-7)
      td Entire muscle: draws scapula laterally forward; elevates ribs when shoulder is fixed; Superior part: lowers raised arm; Inferior part: rotates scapula laterally

