.anatomyPlayer
table.tableFlashcards
  thead
    tr
      th Muscle
      th Origin
      th Insertion
      th Innervation
      th Action
  tbody
    tr
      td Pectineus
      td Pecten pubis
      td Femur (pectineal line and the proximal linea aspera)
      td Femoral nerve, obturator nerve (L2,3)
      td Hip joint: adduction, external rotation; stabilizes pelvis
    tr
      td Adductor longus
      td Superior pubic ramus and anterior side of symphysis
      td Femur (linea aspera, medial lip in middle third of femur)
      td Obturator nerve (L2-4)
      td Hip joint: adduction and flexion
    tr
      td Adductor brevis
      td Inferior pubic ramus
      td Same as adductor longus
      td Obturator nerve (L2-3)
      td Hip joint: adduction and flexion
    tr
      td Gracilis
      td Inferior pubic ramus below symphysis
      td Tibia (medial border of tuberosity)
      td Obturator nerve (L2-3)
      td Hip joint: adduction and flexion; Knee joint: flexion and internal rotation

