.anatomyPlayer
table.tableFlashcards
  thead
    tr
      th Muscle
      th Origin
      th Insertion
      th Innervation
      th Action
  tbody
    tr
      td Pronator teres
      td Humeral head: medial epicondyle of humerus; Ulnar head: coronoid process
      td Lateral radius (distal to supinator insertion)
      td Median nerve (C6,C7)
      td Elbow: weak flexor; Forearm: pronation
    tr
      td Flexor carpi radialis
      td Medial epicondyle of humerus
      td Base of 2nd metacarpal (variance: base of 3rd metacarpal)
      td Median nerve (C6,C7)
      td Wrist: flexion and abduction (radial deviation) of hand
    tr
      td Palmaris longus
      td Medial epicondyle of humerus
      td Palmar aponeurosis
      td Median nerve (C7,C8)
      td Elbow: weak flexion; Wrist: flexion tightens palmar aponeurosis
    tr
      td Flexor carpi ulnaris
      td Humeral head: medial epicondyle; Ulnar head: olecranon
      td Pisiform; hook of hamate; base of 5th metacarpal
      td Ulnar nerve (C7,T1)
      td Wrist: flexion and adduction (ulnar deviation) of hand

