.anatomyPlayer
table.tableFlashcards
  thead
    tr
      th Muscle
      th Origin
      th Insertion
      th Innervation
      th Action
  tbody
    tr
      td Tibialis posterior
      td Interosseous membrane
      td Navicular tuberosity; cuneiforms; 2nd to 4th metatarsals
      td Tibial nerve (L4,5)
      td Talocrural joint: plantar flexion; Subtalar joint: inversion; Supports arch
    tr
      td Flexor digitorum longus
      td Tibia
      td 2nd to 5th distal phalanges
      td Tibial nerve (L5-S2)
      td Toalocrural joint: plantar flexion; Subtalar joint: inversion; MTP and IP joints of 2nd to 5th toes; plantar flexion
    tr
      td Flexor hallucis longus
      td Fibula, interosseous membrane
      td 1st distal phalanx
      td Tibial nerve (L5-S2)
      td Talocrural joint: plantar flexion; Subtalar joint: inversion; MTP and IP joints of 2nd to 5th toes; plantar flexion; supports arch
    tr
      td Popliteus
      td Lateral femoral condyle
      td Posterior tibial surface
      td Tibial nerve (L4-S1)
      td Knee joint: flexion and internal rotation

