.anatomyPlayer
table.tableFlashcards
  thead
    tr
      th Muscle
      th Origin
      th Insertion
      th Innervation
      th Action
  tbody
    tr
      td Biceps brachii - Long head
      td Scapula - supraglenoid tubercle
      td Radial tuberosity
      td Musculocutaneous nerve (C5,6)
      td Elbow joint: flexion and supination; <br/>Shoulder joint: flexion; stabilization of humeral head during deltoid contraction; abduction and interal rotation of humerus
    tr
      td Biceps brachii - Short head
      td Scapula - coracoid process
      td Radial tuberosity
      td Musculocutaneous nerve (C5,6)
      td Elbow joint: flexion and supination; <br/>Shoulder joint: flexion; stabilization of humeral head during deltoid contraction; abduction and interal rotation of humerus
    tr
      td Brachialis
      td Humerus - distal half of anterior surface
      td Ulnar tuberosity
      td Musculocutaneous nerve (C5,6), radial nerve (C7)
      td Flexion at the elbow joint

