.anatomyPlayer
.fillInFactoid(title='Blood supply & Innervation')
  p.
    All muscles in the anterior compartment of the arm are innervated by the
    <u>musculocutaneous</u> nerve.
  p.
    The biceps are supplied by the <u>axillary artery</u> and the brachialis
    is supplied by the <u>radial recurrent</u> artery which is a branch of the
    <u>radial</u> artery.
table.tableFlashcards
  thead
    tr
      th Muscle
      th Origin
      th Insertion
      th Innervation
      th Action
  tbody
    tr
      td Biceps brachii - Long head
      td Scapula - supraglenoid tubercle
      td Radial tuberosity
      td Musculocutaneous nerve (C5,6)
      td Elbow joint: flexion and supination; <br/>Shoulder joint: flexion; stabilization of humeral head during deltoid contraction; abduction and interal rotation of humerus
    tr
      td Biceps brachii - Short head
      td Scapula - coracoid process
      td Radial tuberosity
      td Musculocutaneous nerve (C5,6)
      td Elbow joint: flexion and supination; <br/>Shoulder joint: flexion; stabilization of humeral head during deltoid contraction; abduction and interal rotation of humerus
    tr
      td Brachialis
      td Humerus - distal half of anterior surface
      td Ulnar tuberosity
      td Musculocutaneous nerve (C5,6)
      td Flexion at the elbow joint

