.anatomyPlayer
table.tableFlashcards
  thead
    tr
      th Muscle
      th Origin
      th Insertion
      th Innervation
      th Action
  tbody
    tr
      td Sartorius
      td Anterior superior iliac spine
      td Medial to tibial tuberosity
      td Femoral nerve (L2,L3)
      td Hip joint: flexion, abduction, and external rotation; Knee joint: flexion and internal rotation
    tr
      td Rectus femoris
      td Anterior inferior iliac spine, acetabular roof of hip joint
      td Tibial tuberosity
      td Femoral nerve (L2-4)
      td Hip joint: flexion; Knee joint: extension
    tr
      td Vastus medialis
      td Linea aspera, distal intertrochanteric line
      td Tuberosities on medial and lateral condyles
      td Femoral nerve (L2-4)
      td Knee joint: extension
    tr
      td Vastus lateralis
      td Linea aspera, greater trochanter
      td Tuberosities on medial and lateral condyles
      td Femoral nerve (L2-4)
      td Knee joint: extension
    tr
      td Vastus intermedius
      td Femoral shaft
      td Tibial tuberosity
      td Femoral nerve (L2-4)
      td Knee joint: extension
    tr
      td Articularis genus
      td Femoral shaft
      td Suprapatellar recess of knee joint capsule
      td Femoral nerve (L2-4)
      td Knee joint: extension; prevents entrapment of capsule

