.anatomyPlayer
.fillInFactoid(title='Blood supply & Innervation')
  p.
    All the muscles of the posterior compartment of the leg are innervated by
    the <u>tibial</u> nerve.
  p.
    The gastrocnemius and soleus are supplied by the <u>posterior tibial artery</u>
    All the muscles of the anterior compartment of the leg are supplied by
    the <u>anterior tibial</u> artery. Along with the plantaris, they are also
    supplied by the <u>sural</u> arteries which are branches of the <u>popliteal</u> artery.
table.tableFlashcards
  thead
    tr
      th Muscle
      th Origin
      th Insertion
      th Innervation
      th Action
  tbody
    tr
      td Triceps surae - Gastrocnemius
      td Femur - medial and lateral epicondyles
      td Calcaneal tuberosity via Achilles' tendon
      td Tibial nerve (S1,2)
      td Talocrural joint: plantar flexion; Knee joint: flexion
    tr
      td Triceps surae - Soleus
      td Fibula; tibia
      td Calcaneal tuberosity via Achilles' tendon
      td Tibial nerve (S1,2)
      td Talocrural joint: plantar flexion
    tr
      td Plantaris
      td Femur - lateral epicondyle
      td Calcaneal tuberosity via Achilles' tendon
      td Tibial nerve (S1,2)
      td Negligible; may prevent compression of posterior leg musculatur during knee flexion

