.anatomyPlayer
table.tableFlashcards
  thead
    tr
      th Muscle
      th Origin
      th Insertion
      th Innervation
      th Action
  tbody
    tr
      td Triceps surae - Gastrocnemius
      td Femur - medial and lateral epicondyles
      td Calcaneal tuberosity vai Achilles' tendon
      td Tibial nerve (S1,2)
      td Talocrural joint: plantar flexion; Knee joint: flexion
    tr
      td Triceps surae - Soleus
      td Fibula; tibia
      td Calcaneal tuberosity vai Achilles' tendon
      td Tibial nerve (S1,2)
      td Talocrural joint: plantar flexion
    tr
      td Plantaris
      td Femur - lateral epicondyle
      td Calcaneal tuberosity vai Achilles' tendon
      td Tibial nerve (S1,2)
      td Negligible; may prevent compression of posterior leg musculatur during knee flexion

