.anatomyPlayer
.fillInFactoid(title='Blood supply & Innervation')
  p.
    All the muscles of the anterior compartment of the leg are innervated by
    the <u>superficial fibular</u> nerve.
  p.
    All the muscles of the anterior compartment of the leg are supplied by
    the <u>fibular/peroneal</u> artery.
table.tableFlashcards
  thead
    tr
      th Muscle
      th Origin
      th Insertion
      th Innervation
      th Action
  tbody
    tr
      td Fibularis longus
      td Fibula
      td Medial cuneiform (plantar side), 1st metatarsal (base)
      td Superficial fibular nerve
      td Talocrural joint: plantar flexion; Subtalar joint: eversion (pronation); Supports arch
    tr
      td Fibularis brevis
      td Fibula; intermuscular septa
      td 5th metatarsal
      td Superficial fibular nerve
      td Talocrural joint: platnar flexion; Subtalar joint: eversion (pronation)

