.anatomyPlayer
table.tableFlashcards
  thead
    tr
      th Muscle
      th Origin
      th Insertion
      th Innervation
      th Action
  tbody
    tr
      td Adductor pollicis - transverse head
      td 3rd metacarpal - palmar surface
      td Thumb (base of proximal phalanx)
      td Ulnar nerve
      td CMC joint of thumb: adduction; MCP joint of thumb: flexion
    tr
      td Adductor pollicis - oblique head
      td Oblique head: capitate bone, 2nd and 3rd metacarpals
      td Thumb (base of proximal phalanx)
      td Ulnar nerve
      td CMC joint of thumb: adduction; MCP joint of thumb: flexion
    tr
      td Abductor pollicis brevis
      td Scaphoid bone and trapezium, flexor retinaculum
      td Thumb (base of proximal phalanx)
      td Median nerve
      td CMC joint of thumb: abduction
    tr
      td Flexor pollicis brevis - superficial head
      td Superficial head: flexor retinaculum
      td Thumb (base of proximal phalanx)
      td Median nerve
      td CMC joint of thumb: flexion
    tr
      td Flexor pollicis brevis - deep head
      td Deep head: captiate bone, trapezium
      td Thumb (base of proximal phalanx)
      td Ulnar nerve
      td CMC joint of thumb: flexion
    tr
      td Opponens pollicis
      td Trapezium
      td First metacarpal (radial border)
      td Median nerve
      td CMC joint of thumb: opposition

