.anatomyPlayer
table.tableFlashcards
  thead
    tr
      th Muscle
      th Origin
      th Insertion
      th Innervation
      th Action
  tbody
    tr
      td Biceps femoris - long head
      td Ischial tuberosity, sacrotuberous ligament
      td Head of fibula
      td Tibial nerve (L5-S2)
      td Hip joint: extends hip, stabilizes pelvis; Knee joint: flexion and external rotation
    tr
      td Biceps femoris - short head
      td Lateral lip of linea aspera
      td Head of fibula
      td Common fibular nerve (L5-S2)
      td Knee joint: flexion and external rotation
    tr
      td Semimembranosus
      td Ischial tuberosity
      td Medial tibial condyle, oblique popliteal ligament
      td Tibial nerve (L5-S2)
      td Hip joint: extension; stabilizes pelvis; Knee joint: flexion and internal rotation
    tr
      td Semiteninosus
      td Ischial tuberosity and sacrotuberous ligament
      td Medial to tibial tuberosity in pes anserinus
      td Tibial nerve (L5-S2)
      td Same as semimembranosus

