.anatomyPlayer
.fillInFactoid(title='Blood supply & Innervation')
  p.
    All the muscles of the posterior compartment of the thigh are innervated by
    the <u>tibial</u> nerve except for the <u>short head of the biceps femoris</u>
    which is innervated by the <u>common fibular</u> nerve.
  p.
    All the muscles of the posterior compartment of the thigh are supplied by
    at least one of the <u>gluteal</u> arteries. The biceps femoris is supplied
    by the <u>inferior gluteal</u> artery, <u>perforating</u> arteries, and
    <u>popliteal</u> artery. The semimembranosus is supplied by both <u>gluteal</u>
    arteries and the <u>profunda femoris</u> artery (a branch of the femoral artery).
    The semitendinosus is supplied by the <u>inferior gluteal</u> artery and the
    <u>perforating</u> arteries.
table.tableFlashcards
  thead
    tr
      th Muscle
      th Origin
      th Insertion
      th Innervation
      th Action
  tbody
    tr
      td Biceps femoris - long head
      td Ischial tuberosity, sacrotuberous ligament
      td Head of fibula
      td Tibial nerve (L5-S2)
      td Hip joint: extends hip, stabilizes pelvis; Knee joint: flexion and external rotation
    tr
      td Biceps femoris - short head
      td Lateral lip of linea aspera
      td Head of fibula
      td Common fibular nerve (L5-S2)
      td Knee joint: flexion and external rotation
    tr
      td Semimembranosus
      td Ischial tuberosity
      td Medial tibial condyle, oblique popliteal ligament
      td Tibial nerve (L5-S2)
      td Hip joint: extension; stabilizes pelvis; Knee joint: flexion and internal rotation
    tr
      td Semitendinosus
      td Ischial tuberosity and sacrotuberous ligament
      td Medial to tibial tuberosity in pes anserinus
      td Tibial nerve (L5-S2)
      td Same as semimembranosus

