.anatomyPlayer
table.tableFlashcards
  thead
    tr
      th Muscle
      th Origin
      th Insertion
      th Innervation
      th Action
  tbody
    tr
      td Flexor digitorum superficialis
      td Humeral head: medial epicondyle; Ulnar head: coronoid process
      td Sides of middle phalanges of 2nd to 5th digits
      td Median nerve (C8,T1)
      td Elbow: weak flexor; Wrist, MCP, PIP joints of 2nd to 5th digits: flexion

