.anatomyPlayer
.fillInFactoid(title='Blood supply & Innervation')
  p.
    All muscles in the anterior forearm are innervated by the <u>median</u> nerve except for
    the <u>flexor carpi ulnaris</u> which is innervated by the ulnar nerve and the <u>flexor digitorum
    profundus</u> which is innervated by both the median and ulnar nerves.
  p.
    Like the superficial group of the anterior forearm, the <u>flexor digitorum superficialis</u>
    is supplied by the <u>ulnar</u> artery.
table.tableFlashcards
  thead
    tr
      th Muscle
      th Origin
      th Insertion
      th Innervation
      th Action
  tbody
    tr
      td Flexor digitorum superficialis
      td Humeral head: medial epicondyle; Ulnar head: coronoid process
      td Sides of middle phalanges of 2nd to 5th digits
      td Median nerve (C8,T1)
      td Elbow: weak flexor; Wrist, MCP, PIP joints of 2nd to 5th digits: flexion

