.anatomyPlayer
.fillInFactoid(title='Blood supply & Innervation')
  p.
    All muscles in the anterior forearm are innervated by the <u>median</u> nerve except for
    the <u>flexor carpi ulnaris</u> which is innervated by the ulnar nerve and the <u>flexor digitorum
    profundus</u> which is innervated by both the median and ulnar nerves.
  p.
    Unlike the superficial and intermediate muscles of the anterior forearm, the
    deep group is supplied by the <u>anterior interosseous</u> artery which is a branch
    of the <u>common interosseous</u> artery which originates from the <u>ulnar</u> artery.
table.tableFlashcards
  thead
    tr
      th Muscle
      th Origin
      th Insertion
      th Innervation
      th Action
  tbody
    tr
      td Flexor digitorum profundis
      td Ulna (two thirds of flexor surface) and interosseus membrane
      td Distal phalanges of 2nd to 5th digits (palmar surface)
      td Median nerve (C8, T1); Ulnar nerve (C8,T1)
      td Wrist, MCP, PIP, and DIP of 2nd to 5th digits: flexion
    tr
      td Flexor pollicis longus
      td Radius (midanterior surface)  and adjacent interosseous membrane
      td Distal phalanx of thumb (palmar surface)
      td Median nerve (C8,T1)
      td Wrist: flexion and abduction (radial deviation) of hand; Carpometacarpal of thumb; flexion MCP and IP of thumb; flexion
    tr
      td Pronator quadratus
      td Distal quarter of ulna (anterior surface)
      td Distal quarter of radius (anterior surface)
      td Median nerve (C8,T1)
      td Hand: pronation; Distal radioulnar joint: stabilization

