.anatomyPlayer
.fillInFactoid(title='Blood supply & Innervation')
  p.
    All the muscles of the medial compartment of the thigh are innervated by
    the <u>obturator</u> nerve except for the <u>pectineus</u> which is also
    innervated by the <u>femoral</u> nerve and the <u>superficial part of the adductor magnus</u>
    which is innervated only by the <u>tibial</u>.
  p.
    The <u>obturator</u> artery supplies the pectineus, obturator externus,
    and adductor minimus. The <u>deep femoral</u> artery supplies the adductor longus,
    adductor brevis, and adductor magnus. The <u>medial circumflex femoral</u> artery
    supplies the gracilis.
table.tableFlashcards
  thead
    tr
      th Muscle
      th Origin
      th Insertion
      th Innervation
      th Action
  tbody
    tr
      td Obturator externus
      td Outer surface of obturator membrane
      td Trochanteric fossa of femur
      td Obturator nerve (L3,4)
      td Hip joint: adduction and external rotation
    tr
      td Adductor minimus
      td Inferior pubic ramus
      td Medial lip of linea aspera
      td Obturator nerve (L2-4)
      td Hip joint: adduction extension, and slight flexion of hip joint
    tr
      td Adductor magnus
      td Inferior pubic ramus, ischial ramus, ischial tuberosity
      td Deep part: medial lip of linea spine; Superficial part: adductor tubercle of femur
      td Deep part: obturator nerve (L2-4); Superficial part: tibial nerve (L4)
      td Hip joint: adduction, extension, and slight flexion (tendinous insertion is also active in internal rotation)

