.anatomyPlayer
.fillInFactoid(title='Blood supply & Innervation')
  p.
    All muscles in the posterior forearm are innervated by the <u>radial</u> nerve. Period.
  p.
    Except for the <u>extensor carpi ulnaris</u> which is supplied directly by the
    <u>ulnar</u> artery, the superficial muscles of the posterior forearm are supplied by the
    <u>posterior interosseous artery</u> which is a branch of the <u>ulnar</u> artery.
table.tableFlashcards
  thead
    tr
      th Muscle
      th Origin
      th Insertion
      th Innervation
      th Action
  tbody
    tr
      td Extensor digitorum
      td Common head: Lateral epicondyle of humerus
      td Dorsal digital expansion of 2nd to 5th digits
      td Radial nerve (C7,8)
      td Wrist: extension; MCP, PIP, and DIP of 2nd to 5th digits: extension/abducation of fingers
    tr
      td Extensor digiti minimi
      td Common head: Lateral epicondyle of humerus
      td Dorsal digital expansion of 5th digit
      td Radial nerve (C7,8)
      td Wrist: extension, ulnar abduction of hand MCP, PIP, and DIP of 5th digit; extension and abduction of 5th digit
    tr
      td Extensor carpi ulnaris
      td Common head: Lateral epicondyle of humerus; Ulnar head: dorsal surface
      td Base of 5th metacarpal
      td Radial nerve (C7,8)
      td Wrist: extension, adduction (ulnar deviation) of hand

