.anatomyPlayer
table.tableFlashcards
  thead
    tr
      th Muscle
      th Origin
      th Insertion
      th Innervation
      th Action
  tbody
    tr
      td Diaphragm - Costal
      td 7th to 12th ribs (inner surface; lower margin of costal arch)
      td Central tendon
      td Phrenic nerve (C3-5 cervical plexus)
      td Respiration; Compressor of abdominal viscera
    tr
      td Diaphragm - Lumbar
      td Medial part: L1-L3 vertebral bodies, intervertebral disks; Lateral parts: lateral and medial arcuate ligaments
      td Central tendon
      td Phrenic nerve (C3-5 cervical plexus)
      td Respiration; Compressor of abdominal viscera
    tr
      td Diaphragm - Sternal
      td Medial epicondyle of humerus
      td Central tendon
      td Phrenic nerve (C3-5 cervical plexus)
      td Respiration; Compressor of abdominal viscera

